
@{
    ViewBag.Title = "Neighborhood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/NbsSideBar.cshtml", null)

<div class="content">
    <div class="container" style="margin-left: 60px">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-7">
            
                <img src="../../images/site news 3.png"/>
            </div>
            
            <div class="row">
                <div class="col-md-5">
                    <img src="../../images/featurednews.png" />
                </div>
                <div class="col-md-5">
                    <img src="../../images/featurednews2.png" />
                </div>
            </div>
        </div>
    
        @*<div class="row">
            <div class="col-md-7">

                <img src="../../images/site news 3.png" />
            </div>

         
        </div>*@
        @*<hr>
        <footer>
            <p>&copy; Company 2014</p>
        </footer>*@
    </div> <!-- /container -->
</div>

